.task-edit-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.edit-task-input {
  width: 85%;
  font-size: 21px;
  margin: 0 8px 0 2px;
  border: 1px solid rgb(177, 175, 175);
  background-color: rgb(184, 221, 167);
  box-shadow: 5px 8px 10px rgb(188, 245, 155);
}

.img-cancel {
  width: 22px;
}

.img-save {
  width: 22px;
}